.reset {
  border: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f9f9f9;
  background-attachment: fixed;
}
.header-new {
  height: 500px;
  background-image: url('/images/style/top.jpg');
  background-position: center;
  background-size: cover;
}
.header .navbar-brand {
  padding: 0;
  background-color: #2b517d;
  height: 70px;
}
.header .navbar-brand .logo {
  margin-left: 100px;
  margin-right: 40px;
}
.header .navbar-brand .logo .image {
  padding-top: 10px;
  padding-right: 20px;
}
.header .navbar-brand .logo .image img {
  height: 50px;
  width: auto;
  display: block;
}
.header .navbar-brand .logo .text {
  margin-top: 15px;
}
.header .navbar-brand .logo .text p {
  margin-bottom: 0;
}
.header .navbar-brand .logo .text p:first-child {
  font-weight: 700;
}
.header .navbar-brand .logo .text p:last-child {
  font-weight: 200;
}
@media (max-width: 1200px) {
  .header .navbar-brand .logo {
    margin-left: 15px;
  }
}
.header .navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .navbar-inverse {
  background-color: #0d8ee1;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .navbar-inverse * {
  color: #fff;
}
.header .navbar-inverse > .container {
  width: 100%;
}
.header .navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
}
.header .navbar-inverse .navbar-nav > .open > a,
.header .navbar-inverse .navbar-nav > .open > a:hover,
.header .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.header .navbar-nav > li > .dropdown-menu {
  background-color: #0d8ee1;
}
.header .navbar-nav > li > .dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.slider-pro {
  border-bottom: 1px solid #ccc;
}
.slider-pro .slider-text {
  font-size: 16px;
  font-weight: 200;
  max-width: 600px;
  padding: 15px;
  background-color: rgba(43, 81, 125, 0.6);
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-pro .link {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  margin-left: 204px;
  display: block;
  position: relative;
  padding-left: 20px;
}
.slider-pro .link:before {
  content: "";
  left: -24px;
  position: absolute;
  height: 24px;
  width: 24px;
  background-image: url('/images/style/question.png');
}
.block {
  padding-top: 40px;
  padding-bottom: 40px;
}
.block h3 {
  padding-bottom: 40px;
}
.block p {
  padding-bottom: 30px;
}
ul.styled {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.styled li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
}
ul.styled li::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #7fc876;
  border-radius: 5px;
}
@media (max-width: 768px) {
  ul.styled {
    padding-bottom: 20px;
  }
}
p.sub {
  font-size: 12px;
}
.tab-content {
  padding-top: 30px;
}
.subheading_menu {
  padding: 0;
  margin: 0 0 40px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  font-weight: 200;
}
.subheading_menu li {
  display: block;
  float: left;
}
.subheading_menu li.active a {
  background: rgba(0, 0, 0, 0.1);
}
.subheading_menu li a {
  display: block;
  padding: 5px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.subheading_menu li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.subheading_menu li:last-child a {
  border: none;
}
.subheading_menu:after {
  content: "";
  display: block;
  clear: both;
}
h1 {
  font-weight: 200;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
