.reset {
  border: none;
  padding: 0;
  margin: 0;
}
ul.legend {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-bottom: 30px;
}
ul.legend li {
  cursor: pointer;
}
ul.legend li.hdn {
  opacity: 0.5;
}
ul.legend li .square {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}
ul.legend li .text {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 13px;
  display: inline;
}
.text-block {
  margin-bottom: 30px;
}
.text-block p {
  font-size: 17px;
  margin-bottom: 0;
}
.d3-tip {
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  max-width: 400px;
}
.pmd-card-body {
  max-height: 450px;
  overflow-y: scroll;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.datetime {
  font-size: 16px;
  font-style: italic;
  padding-left: 30px;
  color: #333;
  margin-bottom: 30px;
  background-image: url('/images/info.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}
/*Styling for the lines connecting the labels to the slices*/
polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  pointer-events: none;
  cursor: auto;
}
/* Make the percentage on the text labels bold*/
.labelName tspan {
  font-style: normal;
  font-weight: 700;
}
/* In biology we generally italicise species names. */
.labelName {
  font-size: 0.9em;
  font-style: italic;
}
#chart-index {
  width: 768px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}
#chart-index .datetime {
  position: absolute;
  top: 60px;
  font-size: 16px;
  font-style: italic;
  padding-left: 30px;
  color: #333;
  background-image: url('/images/info.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
#chart-index .labelset {
  position: absolute;
  top: 140px;
}
#chart-index .labelset.bottom {
  top: 400px;
}
#chart-index .labelset.left {
  right: 624px;
  text-align: right;
}
#chart-index .labelset.left .value1 {
  color: #74c36a;
}
#chart-index .labelset.right {
  left: 624px;
}
#chart-index .labelset.right .value1 {
  color: #617689;
}
#chart-index .labelset .label1 {
  text-transform: uppercase;
  font-size: 18px;
}
#chart-index .labelset .value1 {
  font-size: 18px;
  font-weight: bold;
}
#chart-index .bar {
  position: absolute;
  bottom: 0;
  width: 180px;
  height: 360px;
  border: 1px solid #ccc;
}
#chart-index .bar.left {
  left: 174px;
}
#chart-index .bar.left .fill {
  background-color: #74c36a;
}
#chart-index .bar.left .bg {
  background-image: url('/images/ch-income.png');
}
#chart-index .bar.right {
  right: 174px;
}
#chart-index .bar.right .fill {
  background-color: #617689;
}
#chart-index .bar.right .bg {
  background-image: url('/images/ch-outcome.png');
}
#chart-index .bar .name {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#chart-index .bar .fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 10px;
  height: 10px;
  background: #000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#chart-index .bar .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.chart-index-part .selector,
.chart-index-part .data {
  padding: 0 30px;
}
.chart-index-part .canvas-holder {
  min-height: 400px;
}
.chart-index-part .selector {
  padding-bottom: 30px;
}
.chart-index-part .extra {
  text-align: center;
  font-size: 18px;
}
.chart-index-part canvas {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.statistics-index h3 {
  padding-bottom: 20px;
}
.statistics-index table tr th:first-child {
  width: 400px;
}
.site-index {
  margin-top: -30px;
}
.site-index #tables .table tbody tr td {
  font-weight: normal;
}
.site-index #chart1 {
  margin: 40px auto 40px auto;
  background: #fff;
}
.site-index .block-1 {
  background-image: url('/images/style/subtle_dots.png');
  margin-top: 30px;
  padding: 40px 0px 60px 0px;
}
.site-index .block-1 h3 {
  padding-top: 45px;
}
.site-index .block-1 .date-holder {
  font-size: 18px;
}
.site-index .block-analytics .chart-button {
  margin-bottom: 30px;
}
.site-index .block-analytics .chart-button .image-container {
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid #cccccc;
  background-size: 100%;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}
.site-index .block-analytics .chart-button .text {
  border: 1px solid #cccccc;
  background: #e5e5e5;
  border-top: 0px;
  text-align: center;
  line-height: 40px;
}
.site-index .block-analytics .chart-button:hover .image-container {
  background-size: 140%;
}
.page {
  padding-bottom: 60px;
}
.page p,
.page li {
  font-size: 16px;
  font-weight: 200;
}
.page .heading {
  font-size: 48px;
  font-weight: 200;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #2b517d;
}
.page .subheading {
  font-size: 24px;
  font-weight: 200;
  padding-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}
.page-income {
  padding-top: 40px;
}
.page-income #income-total {
  font-size: 17px;
  color: #2b517d;
}
.page-income #form-chart {
  margin-bottom: 30px;
}
.page-income #pie {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}
.page-income #pie .legend {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 80px;
}
.page-income #stacked {
  position: relative;
}
.page-income #stacked svg {
  display: block;
  margin: 0 auto;
}
.page-income #stacked .pmd-card-body {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100%;
  line-height: 16px;
}
.page-income table tr th:nth-child(n + 1) {
  text-align: center;
  padding-right: 8px !important;
}
.page-income table tr th:nth-child(1),
.page-income table tr td:nth-child(1) {
  max-width: 200px;
  padding-right: 30px;
}
.page-income table tr.header {
  background: #2b517d;
  color: #fff;
}
.page-income table tr td {
  text-align: right;
}
.page-income table tr td:first-child {
  text-align: left;
}
.page-income table tr td.minus {
  background-image: url('/images/minus.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 10% 10%;
}
.page-income table tr td.plus {
  background-image: url('/images/plus.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 10% 10%;
}
.about-budget .tab1 {
  background-color: #f9b65f;
}
.about-budget .tab1 a {
  color: #000;
}
.about-budget .tab2 {
  background-color: #7dacfa;
}
.about-budget .tab2 a {
  color: #000;
}
.about-budget .tab3 {
  background-color: #55c475;
}
.about-budget .tab3 a {
  color: #000;
}
.about-budget .tab4 {
  background-color: #69cde7;
}
.about-budget .tab4 a {
  color: #000;
}
.about-budget .tab5 {
  background-color: #8d80d0;
}
.about-budget .tab5 a {
  color: #000;
}
.about-budget .block-1 img {
  padding: 20px 0;
  margin: 0 auto;
}
.about-budget .block-2 p.subhead {
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 30px;
}
.about-budget .block-2 p.example-header {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.about-budget .block-2 p.example-header span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
.about-budget .block-2 p.example-header span:before,
.about-budget .block-2 p.example-header span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid red;
}
.about-budget .block-2 p.example-header span:before {
  right: 100%;
}
.about-budget .block-2 p.example-header span:after {
  left: 100%;
}
.about-budget .block-2 .schema {
  position: relative;
  padding-left: 0;
  margin-bottom: 40px;
  min-height: 150px;
}
.about-budget .block-2 .schema .image-container {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
}
.about-budget .block-2 .schema .image-container img {
  width: 60px;
  margin: 0 auto;
  padding-top: 15px;
}
.about-budget .block-2 .schema .image-container.type1 {
  background: #68a2dc;
}
.about-budget .block-2 .schema .image-container.type2 {
  background: #68a2dc;
}
.about-budget .block-2 .schema .image-container.type3 {
  background: #68a2dc;
}
.about-budget .block-2 .schema p.i-heading {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.about-budget .block-2 .schema p.i-content {
  font-size: 14px;
}
@media (max-width: 998px) {
  .about-budget .block-2 .schema {
    padding-left: 50px;
  }
  .about-budget .block-2 .schema .image-container {
    width: 30px;
    height: 30px;
  }
  .about-budget .block-2 .schema .image-container img {
    width: 20px;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  .about-budget .block-2 .schema {
    min-height: 0;
    padding-left: 90px;
    margin-bottom: 20px;
    min-height: 40px;
  }
  .about-budget .block-2 .schema .image-container {
    width: 60px;
    height: 60px;
  }
  .about-budget .block-2 .schema .image-container img {
    width: 40px;
    padding-top: 10px;
  }
}
@media (max-width: 768px) {
  .about-budget .block-2 .schema-container {
    padding-bottom: 30px;
  }
}
.about-budget .block-3 img {
  margin: 0 auto;
}
.chart-index {
  background-image: url('/images/style/subtle_dots.png');
}
.chart-index table {
  color: #fff;
}
.chart-index .chart-index-row {
  position: relative;
  max-height: 900px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.chart-index .chart-index-row .data-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #2a2d38;
  color: rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 3;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  font-weight: 200;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.chart-index .chart-index-row .data-wrapper i {
  opacity: 0.5;
}
.chart-index .chart-index-row .data-wrapper:hover {
  font-size: 36px;
}
.chart-index .chart-index-row .data-wrapper .glyphicon-triangle-bottom {
  display: inline-block;
}
.chart-index .chart-index-row .data-wrapper .glyphicon-triangle-top {
  display: none;
}
.chart-index .chart-index-row.active {
  max-height: none;
}
.chart-index .chart-index-row.active .data-wrapper .glyphicon-triangle-bottom {
  display: none;
}
.chart-index .chart-index-row.active .data-wrapper .glyphicon-triangle-top {
  display: inline-block;
}
.chart-index .infographics-container {
  position: relative;
  min-height: 600px;
  background-image: url('/images/style/chart-background.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}
.chart-index .infographics-container.first .charts-container .chart-parts .chart-container.container-1 .chart {
  background: linear-gradient(#75cf3a, #5ea430);
}
.chart-index .infographics-container.first .charts-container .chart-parts .chart-container.container-2 .chart {
  background: linear-gradient(#75cf3a, #5ea430);
}
.chart-index .infographics-container.second {
  background-position: bottom right;
}
.chart-index .infographics-container.second .charts-container .chart-parts .chart-container.container-1 {
  width: 60%;
}
.chart-index .infographics-container.second .charts-container .chart-parts .chart-container.container-1 .chart {
  background: linear-gradient(#8ef2e9, #438d91);
}
.chart-index .infographics-container.second .charts-container .chart-parts .chart-container.container-2 {
  width: 40%;
}
.chart-index .infographics-container.second .charts-container .chart-parts .chart-container.container-2 .chart {
  background: linear-gradient(#8ef2e9, #438d91);
}
.chart-index .infographics-container.second .charts-container .chart-parts .icon-money {
  right: 20%;
}
.chart-index .infographics-container .charts-container {
  min-height: 420px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chart-index .infographics-container .charts-container .chart-parts {
  position: absolute;
  height: 100%;
  width: 100%;
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money {
  position: absolute;
  bottom: 30px;
  right: 0;
  z-index: 3;
  max-width: 100px;
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money > img {
  display: block;
  width: 100%;
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money .icon-money-single {
  position: absolute;
  left: 30%;
  width: 30px;
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money .icon-money-single > img {
  width: 100%;
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money .icon-money-single.in {
  top: -200px;
  -webkit-animation: fade-out 3s linear infinite;
  -moz-animation: fade-out 3s linear infinite;
  animation: fade-out 3s linear infinite;
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
    top: -200px;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0px;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    top: -200px;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0px;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    top: -200px;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0px;
  }
}
.chart-index .infographics-container .charts-container .chart-parts .icon-money .icon-money-single.out {
  -webkit-animation: fade-in 3s linear infinite;
  -moz-animation: fade-in 3s linear infinite;
  animation: fade-in 3s linear infinite;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 1;
    top: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -200px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
    top: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -200px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
    top: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -200px;
  }
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container {
  position: absolute;
  height: 100%;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container.container-2 {
  left: 0;
  width: 60%;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container.container-2 .chart {
  right: 30px;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container.container-1 {
  right: 0;
  width: 40%;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container.container-1 .chart {
  left: 30px;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container .chart {
  position: absolute;
  bottom: 50px;
  width: 150px;
  min-height: 20px;
  background: #ccc;
  border-bottom: 4px solid rgba(0, 0, 0, 0.7);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container .chart .value {
  position: absolute;
  width: 150px;
  top: -30px;
  left: 0;
  text-align: center;
  font-weight: 700;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container .chart .percent {
  position: absolute;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  top: 15px;
  left: 0;
}
.chart-index .infographics-container .charts-container .chart-parts .chart-container .chart .percent span {
  font-weight: 400;
  font-size: 14px;
}
.chart-index .data-container {
  background: #2f333f;
  min-height: 200px;
  color: #f9f9f9;
  position: relative;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 90px;
  overflow: hidden;
}
.chart-index .data-container .chart-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.chart-index .data-container .item {
  margin-top: 20px;
  position: relative;
  padding: 0 80px 0 0;
  overflow: hidden;
}
.chart-index .data-container .item .line {
  margin-top: 10px;
  height: 5px;
  background: #75ce3a;
}
.chart-index .data-container.second .item .line {
  background: #8ef2e9;
}
.chart-index .additional {
  background: #2f333f;
  padding: 20px;
}
.chart-index .additional .item {
  min-height: 60px;
  line-height: 60px;
  padding: 0 15px;
  background: #2f333f;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.budget-systems .block-1 {
  text-align: center;
  margin: 0 auto;
}
.budget-systems .principe-info {
  display: inline-block;
  position: relative;
}
.budget-systems .principe-info .text {
  position: absolute;
  top: 130px;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  text-transform: uppercase;
  font-size: 11px;
}
.budget-systems .principe-info .number {
  position: absolute;
  font-size: 10px;
  top: 22px;
  left: 18px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.budget-systems .principe-info:hover {
  cursor: pointer;
}
.budget-systems .principe-info img {
  width: 95%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.budget-systems .principes {
  padding: 15px;
  font-size: 18px;
  font-weight: 200;
}
.documents {
  padding-top: 60px;
}
.documents h3 {
  padding-top: 30px;
}
.documents .panel-heading {
  background-color: #0d8ee1;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.documents table th {
  font-weight: 200 !important;
}
.analytics .dynamics .form-group {
  padding-right: 10px;
  padding-bottom: 15px;
}
.gov-programs #mynetwork {
  border: 1px solid #ccc;
}
.gov-programs table thead {
  background: #0d8ee1;
  color: #fff;
}
.gov-programs table thead th {
  font-weight: 200;
  text-align: center;
  vertical-align: top;
}
.gov-programs table tbody td {
  text-align: center;
  border-color: #0d8ee1;
}
.gov-programs table tbody td:nth-child(1) {
  max-width: 80px;
}
.gov-programs table tbody td:nth-child(2) {
  text-align: left;
}
.gov-programs table tbody td img {
  width: 40px;
  margin-right: 20px;
}
.regional-indicators #target_name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.regional-indicators #target_descr {
  font-size: 16px;
  line-height: 24px;
}
.regional-indicators #target_descr > span {
  display: block;
  font-weight: 500;
  padding-top: 40px;
  border-bottom: 1px solid #ccc;
}
.regional-indicators .tbl_heading {
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
  text-transform: uppercase;
}
.regional-indicators table {
  margin-top: 30px;
}
.regional-indicators table tr th {
  vertical-align: middle;
  text-align: center;
}
.regional-indicators table tbody td:nth-child(n + 1) {
  text-align: right;
}
.regional-indicators svg path:hover {
  cursor: pointer;
}
.regional-indicators svg circle:hover {
  cursor: pointer;
}
.regional-indicators svg text {
  pointer-events: none;
}
.invest .heading {
  padding-bottom: 80px;
}
.invest .table thead tr th {
  font-size: 12px;
  text-align: center;
}
.invest .table thead tr th:first-child {
  text-align: left;
}
.invest #mapitems {
  height: 600px;
  overflow-y: scroll;
}
.invest #mapitems div {
  background: #0d8ee1;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
}
.invest #mapitems div:hover {
  background-color: #2b517d;
}
.glossary ul li {
  margin-bottom: 20px;
  cursor: pointer;
}
.glossary ul li.active p {
  display: block;
}
.glossary ul li span {
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  color: #2b517d;
}
.glossary ul li p {
  display: none;
}
.glossary .alpgabit {
  position: fixed;
  right: 0;
  text-align: right;
}
.glossary .alpgabit span {
  width: 30px;
  display: block;
  background: #2b517d;
  padding: 2px 4px;
  border-bottom: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.glossary .alpgabit span:hover {
  background: #0d8ee1;
}
.obl-budget .report-items .item {
  border-bottom: 1px solid #ccc;
}
.obl-budget .report-items .item > a {
  padding-left: 20px;
  font-size: 16px;
}
.obl-budget .report-items .item span a {
  font-size: 18px;
  background: #0d8ee1;
  display: inline-block;
  color: #fff;
  padding: 10px;
}
