.content {
  position: relative;
}
.content-header > h1 {
  padding-bottom: 30px;
}
.grid-view {
  position: relative;
  overflow: scroll;
}
.grid-view.small-header table {
  overflow-x: scroll-x;
}
.grid-view.small-header table tr th {
  font-size: 9px;
  font-weight: 100;
}
.grid-view.small-header table tr td {
  font-size: 12px;
}
.grid-view.small-header table tr td:nth-child(2) {
  white-space: pre-line;
}
.buttons-heading {
  padding-bottom: 30px;
}
.alpaca-container {
  position: relative;
}
