.content {
    position: relative;
}

.content-header {
    > h1 {
        padding-bottom: 30px;
    }
}

.grid-view {
    position: relative;
    overflow: scroll;
    &.small-header {
        table {
            overflow-x: scroll-x;
            tr th {
                font-size: 9px;
                font-weight: 100;
            }
            tr td {
                font-size: 12px;
                &:nth-child(2) {
                    white-space:pre-line;
                }
            }

        }
    }

}

.buttons-heading {
    padding-bottom: 30px;
}

.alpaca-container {
    position: relative;
    
}
