@import "variables.less";

body {
    // background-image: url('/images/style/body-bck1.png');
    background-color: #f9f9f9;
    background-attachment: fixed;
}

.header-new {
    height: 500px;
    background-image: url('/images/style/top.jpg');
    background-position: center;
    background-size: cover;
}

.header {
    .navbar-brand {
        padding: 0;
        background-color: @color-1;
        height: 70px;
        .logo {
            margin-left: 100px;
            margin-right: 40px;
            .image {
                padding-top: 10px;
                padding-right: 20px;
                img {
                    height: 50px;
                    width: auto;
                    display: block;
                }
            }
            .text {
                margin-top: 15px;
                p {
                    margin-bottom: 0;
                    &:first-child {
                        font-weight: 700;
                    }
                    &:last-child {
                        font-weight: 200;
                    }
                }
            }
        }
        @media(max-width: 1200px) {
            .logo {
                margin-left: 15px;
            }
        }
    }

    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navbar-inverse {
        background-color: @color-2;
        border: none;
        .border-radius(0px);
        * {
            color: #fff;
        }

        > .container {
            width: 100%;
        }
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            background-color: rgba(255,255,255,.3);
    }

    .navbar-nav > li > .dropdown-menu {
        background-color: @color-2;

        a:hover {
            background-color: rgba(255,255,255,.3);
        }
    }


}

.slider-pro {

    border-bottom: 1px solid #ccc;

    .slider-text {
        font-size: 16px;
        font-weight: 200;
        max-width: 600px;
        padding: 15px;
        background-color: @blue-light;
        color: #fff;
        .border-radius(10px);
    }

    .link {
        font-size: 24px;
        line-height: 24px;
        font-weight: 200;
        margin-left: 204px;
        display: block;
        position: relative;
        padding-left: 20px;
        &:before {
            content: "";
            left: -24px;
            position: absolute;
            height: 24px;
            width: 24px;
            background-image: url('/images/style/question.png');
        }
    }

}


.block {
    padding-top: 40px;
    padding-bottom: 40px;
    h3 {
        padding-bottom: 40px;
    }
    p {
        padding-bottom: 30px;
    }
}

ul.styled {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        position: relative;
        padding-left: 30px;
        padding-bottom: 10px;
        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #7fc876;
            border-radius: 5px;
        }
    }

    @media(max-width: 768px) {
        padding-bottom: 20px;
    }

}

p {
    &.sub {
        font-size: 12px;
    }
}

.tab-content {
    padding-top: 30px;
}

.subheading_menu {
    padding: 0;
    margin: 0 0 40px 0;
    border: 1px solid rgba(0,0,0,.2);
    .border-radius(10px);
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    li {
        display: block;
        float: left;
        &.active a {
            background: rgba(0,0,0,.1);
        }
        a {
            display: block;
            padding: 5px 20px;
            border-right: 1px solid rgba(0,0,0,.2);
            text-decoration: none;
            &:hover {
                background: rgba(0,0,0,.1);
            }
        }
        &:last-child {
            a {
                border: none;
            }
        }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

h1 {
    font-weight: 200;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(255,255,255,.2);
}
