@import "variables.less";

ul.legend {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-bottom: 30px;
    li {
        cursor: pointer;
        &.hdn {
            opacity: 0.5;
        }
        .square {
            width: 10px;
            height: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        .text {
            padding-top: 0;
            padding-left: 5px;
            padding-right: 10px;
            font-family:Source Sans Pro, sans-serif;
            font-size: 13px;
            display: inline;
        }
    }
}

.text-block {
    margin-bottom: 30px;
    p {
        font-size: 17px;
        margin-bottom: 0;
    }
}

.d3-tip {
  // line-height: 1;
  // font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  max-width: 400px;
}

.pmd-card-body {
    max-height: 450px;
    overflow-y: scroll;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  pointer-events: none;
}


.datetime {
    font-size: 16px;
    font-style: italic;
    padding-left: 30px;
    color: #333;
    margin-bottom: 30px;
    background-image: url('/images/info.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}


/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
    pointer-events: none;
    cursor: auto;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}

#chart-index {
    width: 768px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;

    .datetime {
        position: absolute;
        top: 60px;
        font-size: 16px;
        font-style: italic;
        padding-left: 30px;
        color: #333;
        background-image: url('/images/info.png');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
    }

    .labelset {
        position: absolute;
        top: 140px;
        &.bottom {
            top: 400px;
        }
        &.left {
            right: 624px;
            text-align: right;
            .value1 {
                color: #74c36a;
            }
        }
        &.right {
            left: 624px;
            .value1 {
                color: #617689;
            }
        }
        .label1 {
            text-transform: uppercase;
            font-size: 18px;
        }
        .value1 {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .bar {
        position: absolute;
        bottom: 0;
        width: 180px;
        height: 360px;
        border: 1px solid #ccc;
        &.left {
            left: 174px; // 384 - 180 - 30
            .fill {
                background-color: #74c36a;
            }
            .bg {
                background-image: url('/images/ch-income.png');
            }
        }
        &.right {
            right: 174px; // 384 - 180 - 30
            .fill {
                background-color: #617689;
            }
            .bg {
                background-image: url('/images/ch-outcome.png');
            }
        }

        .name {
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;

        }

        .fill {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 10px;
            height: 10px;
            background: #000;
            .transition(all 0.5s);
        }

        .bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

}

.chart-index-part {

    .selector, .data {
        padding: 0 30px;
    }

    .canvas-holder {
        min-height: 400px;
    }
    .selector {
        padding-bottom: 30px;
    }
    .extra {
        text-align: center;
        font-size: 18px;
    }
    canvas {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

}

.statistics-index {
    h3 {
        padding-bottom: 20px;
    }

    table {
        tr {
            th {
                &:first-child {
                    width: 400px;
                }
            }
        }
    }
}

.site-index {
    margin-top: -30px;

    #tables {
        .table {
            tbody tr td {
                font-weight: normal;
            }
        }
    }

    #chart1 {
        margin: 40px auto 40px auto;
        background: #fff;
    }

    .block-1 {
        background-image: url('/images/style/subtle_dots.png');
        margin-top: 30px;
        padding: 40px 0px 60px 0px;

        h3 {
            padding-top: 45px;
        }

        .date-holder {
            font-size: 18px;
        }

    }

    .block-analytics {
        .chart-button {
            margin-bottom: 30px;
            .image-container {
                height: 200px;
                background-size: cover;
                background-position: center;
                border: 1px solid @grey-border;
                background-size: 100%;
                .transition(ease 0.5s);
            }
            .text {
                border: 1px solid @grey-border;
                background: #e5e5e5;
                border-top: 0px;
                text-align: center;
                line-height: 40px;
            }
            &:hover {
                .image-container {
                    background-size: 140%;
                }
            }

        }
    }
}

.page {
    padding-bottom: 60px;
    p, li {
        font-size: 16px;
        font-weight: 200;
    }

    .heading {
        font-size: 48px;
        font-weight: 200;
        padding-top: 30px;
        padding-bottom: 40px;
        color: @color-1;
    }

    .subheading {
        font-size: 24px;
        font-weight: 200;
        padding-top: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        display: inline-block;
    }

}

.page-income {
    padding-top: 40px;

    #income-total {
        font-size: 17px;
        color: @color-1;
    }

    #form-chart {
        margin-bottom: 30px;
    }

    #pie {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;

        .legend {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            padding-top: 80px;
        }
    }

    #stacked {
        position: relative;
        svg {
            display: block;
            margin: 0 auto;
        }
        .pmd-card-body {
            position: absolute;
            width: 30%;
            right: 0;
            top: 0;
            height: 100%;
            line-height: 16px;
        }
    }

    table {
        tr th:nth-child(n + 1) {
            text-align: center;
            padding-right: 8px !important;
        }

        tr th, tr td {
            &:nth-child(1) {
                max-width: 200px;
                padding-right: 30px;
            }

        }
        tr {
            &.header {
                background: @color-1;
                color: #fff;
            }
        }
        tr td {
            text-align: right;
            &:first-child {
                text-align: left;
            }
            &.minus {
                background-image: url('/images/minus.png');
                background-repeat: no-repeat;
                background-size: 14px;
                background-position: 10% 10%;
            }
            &.plus {
                background-image: url('/images/plus.png');
                background-repeat: no-repeat;
                background-size: 14px;
                background-position: 10% 10%;
            }
        }
    }

}

.about-budget {

    .tab1 {
        background-color: #f9b65f;
        a {
            color: #000;
        }
    }
    .tab2 {
        background-color: #7dacfa;
        a {
            color: #000;
        }
    }
    .tab3 {
        background-color: #55c475;
        a {
            color: #000;
        }
    }
    .tab4 {
        background-color: #69cde7;
        a {
            color: #000;
        }
    }
    .tab5 {
        background-color: #8d80d0;
        a {
            color: #000;
        }
    }

    .block-1 {
        img {
            padding: 20px 0;
            margin: 0 auto;
        }
    }

    .block-2 {

        p.subhead {
            font-weight: 200;
            font-size: 14px;
            padding-bottom: 30px;
        }

        p.example-header {
            text-align: center;
            position: relative;
            overflow: hidden;

            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;

                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid red;
                }

                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }

        .schema {
            position: relative;
            padding-left: 0;
            margin-bottom: 40px;
            min-height: 150px;
            .image-container {
                position: absolute;
                display: none;
                left: 0;
                top: 0;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                text-align: center;
                img {
                    width: 60px;
                    margin: 0 auto;
                    padding-top: 15px;
                }
                &.type1 {
                    background: #68a2dc;
                }
                &.type2 {
                    background: #68a2dc;
                }
                &.type3 {
                    background: #68a2dc;
                }
            }

            p {
                &.i-heading {
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                }
                &.i-content {
                    font-size: 14px;
                }
            }

            @media(max-width: 998px) {
                padding-left: 50px;
                .image-container {
                    width: 30px;
                    height: 30px;
                    img {
                        width: 20px;
                        padding-top: 5px;
                    }
                }
            }
            @media(max-width: 768px) {
                min-height: 0;
                padding-left: 90px;
                margin-bottom: 20px;
                min-height: 40px;
                .image-container {
                    width: 60px;
                    height: 60px;
                    img {
                        width: 40px;
                        padding-top: 10px;
                    }
                }
            }

        }

        .schema-container {
            @media(max-width: 768px) {
                padding-bottom: 30px;
            }
        }
    }

    .block-3 {
        img {
            margin: 0 auto;
        }
    }

}

.analytics-general {

}

.chart-index {
    background-image: url('/images/style/subtle_dots.png');

    table {
        color: #fff;
    }

    .chart-index-row {
        position: relative;
        max-height: 900px;
        overflow: hidden;
        .transition (all 0.5s);
        .data-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            min-height: 60px;
            background-color: #2a2d38;
            color: rgba(0,0,0,0);
            border-top: 2px solid rgba(255,255,255,.1);
            z-index: 3;
            // color: #fff;
            font-size: 24px;
            text-align: center;
            line-height: 60px;
            font-weight: 200;
            cursor: pointer;
            .transition (all 0.2s);
            i {
                opacity: 0.5;
            }
            &:hover {
                font-size: 36px;
            }
            .glyphicon-triangle-bottom {
                display: inline-block;
            }
            .glyphicon-triangle-top {
                display: none;
            }
        }

        &.active {
            max-height: none;
            .data-wrapper {
                .glyphicon-triangle-bottom {
                    display: none;
                }
                .glyphicon-triangle-top {
                    display: inline-block;
                }
            }
        }

    }

    .infographics-container {
        position: relative;
        min-height: 600px;
        // border: 1px solid #ccc;
        background-image: url('/images/style/chart-background.png');
        background-position: bottom left;
        background-repeat: no-repeat;
        &.first {

            .charts-container .chart-parts .chart-container.container-1 {
                .chart {
                    background: linear-gradient(#75cf3a, #5ea430);
                }
            }
            .charts-container .chart-parts .chart-container.container-2 {
                .chart {
                    background: linear-gradient(#75cf3a, #5ea430);
                }
            }
        }
        &.second {
            background-position: bottom right;
            .charts-container .chart-parts .chart-container.container-1 {
                width: 60%;
                .chart {
                    background: linear-gradient(#8ef2e9, #438d91);
                }
            }
            .charts-container .chart-parts .chart-container.container-2 {
                width: 40%;
                .chart {
                    background: linear-gradient(#8ef2e9, #438d91);
                }
            }
            .charts-container .chart-parts .icon-money {
                right: 20%;
                // right: auto;
            }

        }
        .charts-container {
            min-height: 420px;
            position: absolute;
            bottom: 0;
            width: 100%;
            // border: 1px solid #ccc;
            .chart-parts {
                // border: 1px solid #ccc;
                position: absolute;
                height: 100%;
                width: 100%;
                .icon-money {
                    position: absolute;
                    bottom: 30px;
                    right: 0;
                    z-index: 3;
                    max-width: 100px;
                    > img {
                        display: block;
                        width: 100%;
                    }

                    .icon-money-single {
                        position: absolute;
                        left: 30%;
                        width: 30px;
                        > img {
                            width: 100%;
                        }
                        &.in {
                            top: -200px;
                            .keyframes(fade-out;{
                                0% { opacity: 1; top: -200px;}
                                75% { opacity: 1; }
                                100% { opacity: 0; top: 0px;}
                                });

                            .animation(fade-out 3s linear infinite);
                        }
                        &.out {
                            .keyframes(fade-in;{
                                0% { opacity: 1; top: 0;}
                                75% { opacity: 1; }
                                100% { opacity: 0; top: -200px;}
                                });

                            .animation(fade-in 3s linear infinite);
                        }
                    }

                }
                .chart-container {
                    position: absolute;
                    height: 100%;
                    // border: 1px solid #ccc;
                    &.container-2 {
                        left: 0;
                        width: 60%;
                        .chart {
                            right: 30px;
                        }
                    }
                    &.container-1 {
                        right: 0;
                        width: 40%;
                        .chart {
                            left: 30px;
                        }
                    }
                    .chart {
                        position: absolute;
                        bottom: 50px;
                        width: 150px;
                        min-height: 20px;
                        background: #ccc;
                        border-bottom: 4px solid rgba(0,0,0,.7);
                        .transition(all 2s);
                        .value {
                            position: absolute;
                            width: 150px;
                            top: -30px;
                            left: 0;
                            text-align: center;
                            font-weight: 700;
                        }
                        .percent {
                            position: absolute;
                            width: 100%;
                            font-weight: 700;
                            font-size: 16px;
                            text-align: center;
                            top: 15px;
                            left: 0;
                            span {
                                font-weight: 400;
                                font-size: 14px;
                            }
                        }
                    }
                }


            }
        }

    }

    .data-container {
        background: #2f333f;
        min-height: 200px;
        color: #f9f9f9;
        position: relative;
        padding: 20px;
        font-size: 16px;
        font-weight: 200;
        padding-bottom: 90px;
        // max-height: 600px;
        overflow: hidden;


        .chart-title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(255,255,255,.3);
        }

        .item {
            margin-top: 20px;
            position: relative;
            padding: 0 80px 0 0;
            overflow: hidden;
            .line {
                margin-top: 10px;
                height: 5px;
                background: #75ce3a;
            }
        }


        &.second {
            .item {
                .line {
                    background: #8ef2e9;
                }
            }
        }

    }

    .additional {
        background: #2f333f;
        padding: 20px;
        .item {
            min-height: 60px;
            line-height: 60px;
            padding: 0 15px;
            background: #2f333f;
            color: #fff;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
    }

}

.budget-systems {

    .block-1 {
        text-align: center;
        margin: 0 auto;
    }

    .principe-info {
        display: inline-block;
        position: relative;
        .text {
            position: absolute;
            top: 130px;
            width: 100%;
            padding: 0 20px;
            color: #fff;
            .transition(all 0.5s);
            text-transform: uppercase;
            font-size: 11px;
        }
        .number {
            position: absolute;
            font-size: 10px;
            top: 22px;
            left: 18px;
            color: #fff;
            .transition(all 0.5s);
        }

        &:hover {
            cursor: pointer;
            // img {
            //     width: 100%;
            //     margin-left: -2.5%;
            //     margin-top: -2.5%;
            // }
            // .text {
            //     top: 140px;
            //     .transition(all 0.5s);
            // }
            // .number {
            //     top: 21px;
            //     left: 14px;
            //     .transition(all 0.5s);
            // }
        }
        img {
            width: 95%;
            .transition(all 0.5s);
        }
    }

    .principes {
        padding: 15px;
        font-size: 18px;
        font-weight: 200;
    }

}


.documents {
    padding-top: 60px;
    h3 {
        padding-top: 30px;
    }

    .panel-heading {
        background-color: @color-2;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
    table {
        th {
            font-weight: 200 !important;
        }
    }
}


// ANALYTICS CONTROLLER
.analytics {

    .dynamics {
        .form-group {
            padding-right: 10px;
            padding-bottom: 15px;
        }
    }

}

.gov-programs {

    #mynetwork {
        border: 1px solid #ccc;
    }

    table {
        thead {
            background: @color-2;
            color: #fff;
            th {
                font-weight: 200;
                text-align: center;
                vertical-align: top;
            }
        }
        tbody {
            tr {
            }
            td {
                text-align: center;
                border-color: @color-2;
                &:nth-child(1) {
                    max-width: 80px;
                }
                &:nth-child(2) {
                    text-align: left;
                }
                img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }
    }


}


.regional-indicators {
    #target_name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    #target_descr {
        font-size: 16px;
        line-height: 24px;
        > span {
            display: block;
            font-weight: 500;
            padding-top: 40px;
            border-bottom: 1px solid #ccc;
        }
    }

    .tbl_heading {
        text-align: center;
        font-weight: 500;
        margin-top: 40px;
        text-transform: uppercase;
    }

    table {
        margin-top: 30px;
        tr th {
            vertical-align: middle;
            text-align: center;
        }
        tbody {
            td {
                &:nth-child(n + 1) {
                    text-align: right;
                }
            }
        }
    }

    svg path:hover {
        cursor: pointer;
    }

    svg circle:hover {
        cursor: pointer;
    }

    svg text {
        pointer-events: none;
    }

}

.invest {
    .heading {
        padding-bottom: 80px;
    }
    .table thead tr th {
        font-size: 12px;
        text-align: center;
        &:first-child {
            text-align: left;
        }
    }

    #mapitems {
        height: 600px;
        overflow-y: scroll;
        div {
            // border: 1px solid #cc;
            background: @color-2;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: @color-1;
            }
        }
    }

}

.glossary {
    ul {

        li {
            margin-bottom: 20px;

            cursor: pointer;

            &.active p {
                display: block;
            }
            span {
                font-weight: 500;
                border-bottom: 1px solid #ccc;
                color: @color-1;
            }

            p {
                display: none;
            }
        }

    }

    .alpgabit {
        position: fixed;
        right: 0;
        text-align: right;
        span {
            width: 30px;
            display: block;
            background: @color-1;
            padding: 2px 4px;
            border-bottom: 1px solid #ccc;
            color: #fff;
            cursor: pointer;
            text-align: center;
            &:hover {
                background: @color-2;
            }
        }

    }

}


.obl-budget {

    .report-items {
        .item {
            border-bottom: 1px solid #ccc;
            > a {
                padding-left: 20px;
                font-size: 16px;
            }
            span {
                a {
                    font-size: 18px;
                    background: @color-2;
                    display: inline-block;
                    color: #fff;
                    padding: 10px;
                }
            }
        }
    }

}
